<Data><Version>0.0.2</Version><Default device_name="me" /><List><Device device_name="me"><Remote_host>127.0.0.1</Remote_host><Remote_name>akisamu</Remote_name></Device></List><History><Record name="me" host="127.0.0.1" user="22" command="ssh" time="Sat Feb 25 13:35:47 2023" /><Record name="me" host="127.0.0.1" user="akisamu" command="ssh" time="Sat Feb 25 13:42:11 2023" /><Record name="me" host="127.0.0.1" user="akisamu" command="scp" time="Sat Feb 25 13:43:15 2023" /></History></Data>